<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script type="text/javascript" src="static/js/script.js"></script>
</head>

<body>
    <div class="main">
        <div class="text-container">
            <input type="text" id="txt">
            <button id="btn" onclick="clicked()">Clicsk Here</button>
            <div class="value">
                {{value}}
            </div>
        </div>
    </div>
</body>

</html>